* {
  box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 70px;
  width: 100%;
  background-color: #4e2b23;
  position: fixed;
  top: 0;
  z-index: 30;
}
.picture{
  width:60px;
  height:60px;
  margin:10px;
  float:left;
}

h2 {
  font-size:32px;
  margin-top: 20px;
  margin-left:10px;
  color:white;
  float:right;
}

.webname{
  float: left;
}

.headlist{
  float: right;
  margin-right: -25px;
  margin-top: 1px;

}

.headlist a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.headlist a:hover {
  background-color: #702619;
}

.main{
  background-image: url(https://img.freepik.com/free-photo/top-view-white-office-desk-table-with-copy-space-flat-lay_14098-383.jpg?size=626&ext=jpg&ga=GA1.2.1601185958.1600214400);
  margin : 70px 0 7px 0;
  height:600px;
  background-size: cover;
  color: black;
  text-align: center;

}

.main h3 {
  padding-top:160px;
  margin-bottom: 10px;
}

.main h6{
  background-color: white;
  font-size:28px;
  margin-top: 10px;
  margin-bottom:20px;
  opacity:0.9;
}

.flex-container{

  background-image: url(https://i.pinimg.com/originals/a1/9d/8e/a19d8ef679265caed6db046bcbb1dc9e.jpg);
  background-size: cover;
  height:600px;
  text-align: center;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:center;

}

.flex-container h4{
  padding-top:100px;
}

.flex-container  h6{

  margin-left: 50px;
  margin-right: 40px;
  margin-top:120px;
  background-color: white;
  font-size:22px;
  margin-bottom:3px;
  opacity:0.9;
  height: 200px;
  width: 220px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:10px;

}


.flex-container h6 u{
  font-size: 28px;
}

.et{
  background-color: white;
  margin-top:60px;
  font-size:22px;
  margin-bottom:150px;
  opacity:0.9;

}

.btn-wrapper {
  text-align: center;
  margin: 40px 0;
  float:left;
}


.signup{
  padding: 10px 35px;
  margin-left: 500px;
  background-color: #239b76;
   cursor: pointer;
   font-size:24px;
  color:white;
  border-radius: 4px;
}

footer {
  height: 65px;
  width: 100%;
  background-color: #702619;
  top: 0;

}
.picfooter{
  width:90px;
  height:55px;
  margin:5px;
  float:left;
}

 .txt {
  padding-top: 20px;
  font-size:24px;
  margin-left:10px;
  color:white;
  float:right;
}

.caption{
  float: left;
}
