<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Continue</title>

<style>
  *{

margin:100px;
  }

  body{
  background-image:url("https://www.99images.com/photos/wallpapers/3d-abstract/blue-aesthetic-tumblr-laptopandroid-iphone-desktop-hd-backgrounds-wallpapers-1080p-4k-lahdp.jpg?v=1577788083");

  }
h1{
  margin-left:120px;
}
a{
  margin-left:360px;
  
    background-color: #239b7;
     cursor: pointer;
     font-size:24px;
    color:white;
    border-radius: 4px;
    text-decoration:none;

}



</style>
</head>
<body>
  <h1 class="text">Click on Continue below to vist the website!</h1>

  <a class="button" href="/flasklogin/filler/choice">Continue</a>


  </body>
  </html>
